{% extends "base.html" %}
{% load static %}


{% block title %} Carts - eMart Online Shopping {% endblock title %}

{% block main %}


    <div class="page-header">
      <div class="container">
        <div class="row">
          <div class="col-md-12">            
            <div class="breadcrumb">
              <a href="#"><i class="icon-home"></i> Home</a>
              <span class="crumbs-spacer"><i class="fa fa-angle-double-right"></i></span>
              <span class="current">Cart</span>
              <h2 class="entry-title">Your Cart</h2>
            </div>
          </div>
        </div>
      </div>
    </div>


    <div id="content">
      <div class="container">
        <div class="row">
          <div class="header text-center">
            <h3 class="small-title">Shopping cart</h3>
            <p>Shopping cart-Checkout-Order complete</p>
          </div>

          {% if cart_items %}
            
          

          <div class="col-md-12">
            <div class="wishlist">
              <div class="col-md-4 col-sm-4 text-center">
                <p>Product</p>
              </div>
              <div class="col-md-2 col-sm-2">
                <p>Price</p>
              </div>
              <div class="col-md-4 col-sm-4">
                <p>Quantity</p>
              </div>
              <div class="col-md-2 col-sm-2">
                <p></p>
              </div>
              <div class="col-md-2 col-sm-2">
                <p>Close</p>
              </div>
            </div> 
          </div> 

          {% for product in cart_items %}
            
            <div class="wishlist-entry clearfix">
              <div class="col-md-4 col-sm-4">
                <div class="cart-entry">
                  <a class="image" href="#"><img src="{{product.product.image.url}}"  alt=""></a>
                  <div class="cart-content">
                    <h4 class="title">{{product.product.name}}</h4>
                    <p> {{product.product.quick_overview}} </p>
                  </div>
                </div>
              </div>
              <div class="col-md-2 col-sm-2 entry">
                <div class="price" id="price-{{product.product.id}}" data-unit-price="{{product.product.price}}">
                  $ {{ product.total_price }}
                </div>
              </div>
              <div class="col-md-4 col-sm-4">
                <div class="quantity-increase">
                  <button id="decreaseQuantity-{{product.product.id}}">-</button>
                  <input type="text" id="quantity-{{product.product.id}}" value="{{product.quantity}}">
                  <button id="increaseQuantity-{{product.product.id}}">+</button>
                </div>
              </div>
              <div class="col-md-2 col-sm-2 entry">
                <div class="price">
                  
                </div>
              </div>
              <div class="col-md-2 col-sm-2 entry">
                <a class="btn-close" href="{% url 'remove-from-cart' product.id %}">
                  <i class="icon-close"></i>
                </a> 
              </div>
            </div>

          {% endfor %}

          <div class="card card--padding fill-bg" style="margin-top: 50px;">
            <table class="table-total-checkout">                
              <tbody>
                <tr>
                  <th style="padding-bottom: 10px; font-weight: normal; font-size: 18px;">SUB TOTAL:</th>
                  <td id="cart-subtotal" style="padding-bottom: 10px; font-weight: normal; font-size: 18px;">${{cart_subtotal}}</td>
                </tr>
                <tr>
                  <th style="padding-bottom: 10px; font-weight: normal; font-size: 18px;">Shipping:</th>
                  <td style="padding-bottom: 10px; font-weight: normal; font-size: 18px;">${{shipping_cost}}</td>
                </tr>
                <tr>
                  <th style="padding-bottom: 10px; font-weight: normal; font-size: 18px;">Discount:</th>
                  <td style="padding-bottom: 10px; font-weight: normal; font-size: 18px;">-5%</td>
                </tr>
                <tr>
                  <th style="padding-top: 15px;">GRAND TOTAL:</th>
                  <td id="cart-total" style="padding-top: 15px;">${{cart_total|floatformat:2}}</td>
                </tr>
              </tbody>
            </table>
            <a href="#" class="btn btn-common btn-full">Place Order Now <span class="icon-action-redo"></span></a>              
          </div>

          {% else %}
            <p>No Cart Items added...</p>

          {% endif %}
            
        </div>
      </div>
    </div>

{% endblock main %}


{% block script %}

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
  $(document).ready(function() {
    $('.quantity-increase button').click(function() {
      var productId = $(this).attr('id').split('-')[1];
      var action = $(this).text();
      var quantityInput = $('#quantity-' + productId);
      var quantity = parseInt(quantityInput.val());

      if (action == '+') {
        quantity++;
      } else if (action == '-' && quantity > 1) {
        quantity--;
      }

      $.ajax({
        url: '{% url "update-cart-quantity" %}',
        method: 'POST',
        data: {
          'product_id': productId,
          'quantity': quantity,
          'csrfmiddlewaretoken': '{{ csrf_token }}'
        },
        success: function(response) {
          quantityInput.val(quantity);
          var priceElement = $('#price-' + productId);
          var updatedPrice = parseFloat(response.updated_price);
          var cartTotal = parseFloat(response.cart_total);
          var cartSubtotal = parseFloat(response.cart_subtotal);
          priceElement.text('$' + updatedPrice.toFixed(2));
          $('#cart-subtotal').text('$' + cartSubtotal.toFixed(2));
          $('#cart-total').text('$' + cartTotal.toFixed(2));
          console.log(response);
        },
        error: function(response) {
          alert('Error updating cart');
        }
      });
    });
  });
</script>
  
{% endblock script %}