{% extends "base.html" %}
{% load static %}


{% block title %} Carts - eMart Online Shopping {% endblock title %}

{% block main %}


    <div class="page-header">
      <div class="container">
        <div class="row">
          <div class="col-md-12">            
            <div class="breadcrumb">
              <a href="#"><i class="icon-home"></i> Home</a>
              <span class="crumbs-spacer"><i class="fa fa-angle-double-right"></i></span>
              <span class="current">Cart</span>
              <h2 class="entry-title">Your Cart</h2>
            </div>
          </div>
        </div>
      </div>
    </div>


    <div id="content">
      <div class="container">
        <div class="row">
          <div class="header text-center">
            <h3 class="small-title">Shopping cart</h3>
            <p>Shopping cart-Checkout-Order complete</p>
          </div>

          {% if cart_items %}
            
          

          <div class="col-md-12">
            <div class="wishlist">
              <div class="col-md-4 col-sm-4 text-center">
                <p>Product</p>
              </div>
              <div class="col-md-2 col-sm-2">
                <p>Price</p>
              </div>
              <div class="col-md-4 col-sm-4">
                <p>Quantity</p>
              </div>
              <div class="col-md-2 col-sm-2">
                <p></p>
              </div>
              <div class="col-md-2 col-sm-2">
                <p>Close</p>
              </div>
            </div> 
          </div> 

          {% for product in cart_items %}
            
            <div class="wishlist-entry clearfix">
              <div class="col-md-4 col-sm-4">
                <div class="cart-entry">
                  <a class="image" href="#"><img src="{{product.product.image.url}}"  alt=""></a>
                  <div class="cart-content">
                    <h4 class="title">{{product.product.name}}</h4>
                    <p> {{product.product.quick_overview}} </p>
                  </div>
                </div>
              </div>
              <div class="col-md-2 col-sm-2 entry">
                <div class="price">
                  $ {{product.product.price}}
                </div>
              </div>
              <div class="col-md-4 col-sm-4">
                <div class="quantity-increase">
                  <button id="decreaseQuantity-{{product.product.id}}">-</button>
                  <input type="text" id="quantity-{{product.product.id}}" value="1">
                  <button id="increaseQuantity-{{product.product.id}}">+</button>
                </div>
              </div>
              <div class="col-md-2 col-sm-2 entry">
                <div class="price">
                  
                </div>
              </div>
              <div class="col-md-2 col-sm-2 entry">
                <a class="btn-close" href="{% url 'remove-from-cart' product.id %}">
                  <i class="icon-close"></i>
                </a> 
              </div>
            </div>

          {% endfor %}

          {% else %}
            <p>No Cart Items added...</p>

          {% endif %}
            
        </div>
      </div>
    </div>

{% endblock main %}


{% block script %}

<script>
  {% for pd in cart_items %}
  document.addEventListener('DOMContentLoaded', (event) => {
      let increaseQuantityBtn = document.getElementById('increaseQuantity-{{pd.product.id}}');
      let decreaseQuantityBtn = document.getElementById('decreaseQuantity-{{pd.product.id}}');
  
      increaseQuantityBtn.addEventListener('click', (e) => {
          e.preventDefault();
          var quantityInput = document.getElementById('quantity-{{pd.product.id}}');
          var currentQuantity = parseInt(quantityInput.value, 10);
          quantityInput.value = currentQuantity + 1;
      })
  
      decreaseQuantityBtn.addEventListener('click', (e) => {
          e.preventDefault();
          var quantityInput = document.getElementById('quantity-{{pd.product.id}}');
          var currentQuantity = parseInt(quantityInput.value, 10);
          if (currentQuantity > 1) {
              quantityInput.value = currentQuantity - 1;
          }
      })
  });
  {% endfor %}
</script>
  
{% endblock script %}