{% extends "base.html" %}
{% load static %}


{% block title %} Checkout - eMart Online Shopping {% endblock title %}


{% block main %}

    <div class="page-header">
      <div class="container">
        <div class="row">
          <div class="col-md-12">            
            <div class="breadcrumb">
              <a href="{% url 'home' %}"><i class="icon-home"></i> Home</a>
              <span class="crumbs-spacer"><i class="fa fa-angle-double-right"></i></span>
              <span class="current">Checkout</span>
              <h2 class="entry-title">Checkout</h2>
            </div>
          </div>
        </div>
      </div>
    </div>
    
    <div id="content">
      <div class="container">
        <div class="row">
          <form method="POST" action="{% url 'checkout' %}">
            {% csrf_token %}
          <div class="col-md-6 col-sm-6 col-xs-12">
            <!-- Shipping & Address -->
            <h2 class="title-checkout"><i class="icon-home"></i>Shipping Address</h2>
            
              <div class="form-group">
                <label>First Name <sup>*</sup></label>
                <input class="form-control" type="text" name="first_name" required>
              </div>
              <div class="form-group">
                <span class="note pull-right">* Required Fields</span>
                <label>Last Name  <sup>*</sup></label>
                <input class="form-control" type="text" name="last_name" required>
              </div>
              <div class="form-group">
                <label>Email Address  <sup>*</sup></label>
                <input class="form-control" type="email" name="email" required>
              </div>               
              <div class="form-group">
                <label>Address <sup>*</sup></label>
                <input class="form-control" type="text" name="address" required>
              </div>
              <div class="form-group">
                <label>Phone <sup>*</sup></label>
                <input class="form-control" type="text" name="phone" required>
              </div>

              <!-- row-col-1 -->
              <div class="row">
                <div class="col-md-6">
                  <div class="form-group">
                    <label>City <sup>*</sup></label>
                    <input class="form-control" type="text" name="city" required>
                  </div>
                  <div class="form-group">
                    <label>Zip/Postal Code <sup>*</sup></label>
                    <input class="form-control" type="text" name="postal_code" required>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <label>State/Province <sup>*</sup></label>
                    <input class="form-control" type="text" name="state" required>
                  </div>
                  <div class="form-group">
                    <label>Country <sup>*</sup></label>
                    <input class="form-control" type="text" name="country" required>
                  </div>
                </div>
              </div>
            
          </div> 

         <div class="col-md-6 col-sm-6 col-sx-12">
            <!-- Payment Method -->
            <h2 class="title-checkout">
              <i class="icon-credit-card"></i>
              Payment Method
            </h2>
            <div class="form-group">
              <label>Name on Card <sup>*</sup></label>
              <img  src="{% static 'assets/img/stripe.png' %}"  alt="" style="display: block; width: 100px;">
            </div>
            <div class="card card--padding fill-bg">
                <h2>GRAND TOTAL:</h2>
                <div style="margin: 15px 0;">
                    <input type="text" name="total_price" value="$ {{cart_total|floatformat:2}}" disabled style="border: none; font-size: 20px; font-weight: 500;">
                 </div>
                <button type="submit"
                  class="btn btn-common btn-full"
                  data-key="{{ stripe_publishable_key }}"
                  data-amount="{{ cart_total|floatformat:2|floatformat:0 }}"
                  data-locale="auto"
                  data-currency="usd"
                  src="https://checkout.stripe.com/checkout.js"
                 >Pay Now <span class="icon-action-redo"></span></button>

                <script
                    src="https://checkout.stripe.com/checkout.js" class="stripe-button"
                    data-key="{{ stripe_publishable_key }}"
                    data-amount="{{ cart_total|floatformat:2|floatformat:0 }}"
                    data-name="Your Site Name"
                    data-description="Widget"
                    data-image="https://stripe.com/img/documentation/checkout/marketplace.png"
                    data-locale="auto"
                    data-currency="usd">
                </script>              
            </div>
            <!-- /GRAND TOTAL -->
          </div>
        </form>
          
        </div>

        <div class="mb-50"></div>
      </div>
    </div>
    
   {% endblock main %}