{% extends "base.html" %}
{% load static %}


{% block title %} Contact - eMart Online Shopping {% endblock title %}

{% block main %}
    

    <div class="page-header">
      <div class="container">
        <div class="row">
          <div class="col-md-12">            
            <div class="breadcrumb">
              <a href="#"><i class="icon-home"></i> Home</a>
              <span class="crumbs-spacer"><i class="fa fa-angle-double-right"></i></span>
              <span class="current">Contact Us</span>
              <h2 class="entry-title">Contact Us</h2>
            </div>
          </div>
        </div>
      </div>
    </div>
    

    <section id="content">
      <div class="contact-info">
        <div class="container">          
          <div class="contact-info-wrapper clearfix">
            <div class="col-md-4 col-sm-4 col-xs-12">
              <div class="contact-item-wrapper">
                <h4>Address</h4>
                <div class="info">
                  <div class="icon">
                    <i class="icon-location-pin"></i>
                  </div>
                  <p>2779 Oakwood Avenue<br> NY</p>
                </div>
              </div>
            </div>
            <div class="col-md-4 col-sm-4 col-xs-12">
              <div class="contact-item-wrapper">
                <h4>Phone</h4>
                <div class="info">
                  <div class="icon">
                    <i class="icon-screen-smartphone"></i>
                  </div>
                  <p>212-631-5135 <br> 212-631-5105</p>
                </div>
              </div>
            </div>
            <div class="col-md-4 col-sm-4 col-xs-12">
              <div class="contact-item-wrapper">
                <h4>E-mail</h4>
                <div class="info">
                  <div class="icon">
                    <i class="icon-paper-plane"></i>
                  </div>
                  <p>sales@emart.com <br> support@emart.com</p>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-12">
            <div class="header-wrap text-center">
              <h3>Send us a messages</h3>
              <p class="description">Aenean a turpis finibus euismod augue et facilisis elit. In sed quam et dui.</p>
            </div>
          </div>
        </div>
      </div>
      
      <div class="contact-form-wrapper">
        <div class="container">
          <div class="row">
            <div class="col-md-12">
              <form id="contactForm" class="contact-form" data-toggle="validator">
                <div class="row">
                  <div class="col-md-6 col-xs-12">
                    <div class="row">
                      <div class="col-md-12">
                        <div class="form-group">
                          <input type="text" class="form-control" id="name" name="name" placeholder="Full Name" required data-error="Please enter your name">
                          <div class="help-block with-errors"></div>
                        </div>                    
                      </div>
                      <div class="col-md-12">
                        <div class="form-group">                      
                          <input type="email" class="form-control" id="email" placeholder="mail@sitename.com" required data-error="Please enter your email">
                          <div class="help-block with-errors"></div>
                        </div>
                      </div>
                      <div class="col-md-12">
                        <div class="form-group"> 
                          <input type="text" class="form-control" id="msg_subject" name="subject" placeholder="Subject" required data-error="Please enter your subject">
                          <div class="help-block with-errors"></div>
                        </div>
                      </div>                       
                    </div>                    
                  </div>    
                  <div class="col-md-6 col-xs-12">
                    <div class="row">
                      <div class="col-md-12">
                        <div class="form-group"> 
                          <textarea class="form-control" id="message" placeholder="Massage" rows="9" data-error="Write your message" required></textarea>
                          <div class="help-block with-errors"></div>
                        </div>
                      </div>
                    </div>
                  </div> 
                  <div class="col-md-12 col-xs-12">
                    <button type="submit" id="submit" class="btn btn-common">Send Message</button>
                    <div id="msgSubmit" class="h3 text-center hidden"></div> 
                    <div class="clearfix"></div> 
                  </div>
                </div> 
              </form>
            </div>
          </div>
        </div>
      </div>
    </section>
    

    <div id="google-map">
    </div>

    {% endblock main %}