{% extends "base.html" %}
{% load static %}


{% block title %} Forgot Password - eMart Online Shopping {% endblock title %}

{% block main %}
    

    <div class="page-header">
      <div class="container">
        <div class="row">
          <div class="col-md-12">            
            <div class="breadcrumb">
              <a href="{% url 'home' %}"><i class="icon-home"></i> Home</a>
              <span class="crumbs-spacer"><i class="fa fa-angle-double-right"></i></span>
              <span class="current">Forgot Password</span>
              <h2 class="entry-title">Forgot password page</h2>
            </div>
          </div>
        </div>
      </div>
    </div>
    

    <div id="content">
      <div class="container">
        <div class="row">
          <div class="col-md-12 col-lg-6 col-lg-offset-3">
            <div class="login">
              <div class="login-form-container">
                <div class="login-text">
                  <h3>Forgot Password</h3>
                  <p>Please forgot password using account email bellow.</p>
                </div>
                <!-- Login Form Start -->
                <form id="loginForm" class="login-form" role="form" method="POST">
                  {% csrf_token %}

                  {% if error_messages %}
                      <div class="alert alert-danger alert-dismissible" role="alert">
                          {{error_messages}}
                      </div>
                  {% endif %}

                  <div class="form-group">
                    <div class="controls">
                      <input type="email" class="form-control" placeholder="Email" name="email" required>
                    </div>
                  </div>
                  <div class="button-box">
                    <button type="submit" id="sendEmailBtn" class="btn btn-common log-btn" onclick="sendEmail()">Send Email</button>
                  </div>
                  <div style="display: flex; justify-content: center; margin-top: 20px;">
                    <p>Don't have an account ? <a href="{% url 'signup' %}">Create account</a></p>
                  </div>
                </form>                
                <!-- Login Form End -->
              </div>              
            </div>            
          </div>
        </div>
      </div>
    </div>
    

  {% endblock main %}


  {% block script %}
      <script>
        function sendEmail() {
            var form = document.getElementById('loginForm');
            var button = document.getElementById('sendEmailBtn');
            
            button.disabled = true;
            button.innerHTML = 'Sending...';
            
            form.submit();
        }
    </script>
  {% endblock script %}