{% extends "base.html" %}
{% load static %}


{% block title %} eMart - Online Shopping {% endblock title %}

{% block main %}
  
    <section id="slider">
      <div class="tp-banner-container">
        <div class="tp-banner">
          <ul>

            <li data-transition="fade" data-slotamount="7" data-masterspeed="2000" data-thumb="assets/img/slider/slide1.jpg" data-delay="10000">
              <!-- MAIN IMAGE -->
              <img src="{% static 'assets/img/dummy.png' %}"  alt="laptopmockup_sliderdy" data-lazyload="{% static 'assets/img/slider/slide1.jpg' %}" data-bgposition="top" data-duration="12000" data-ease="Power0.easeInOut" data-bgfit="115" data-bgfitend="100" data-bgpositionend="right">
              <!-- LAYERS 1-->
              <div class="tp-caption sft skewtotop tp-resizeme title start" data-x="20" data-y="center" data-voffset="-90" data-speed="800" data-start="950" data-easing="Power4.easeOut" data-splitin="none" data-splitout="none" data-elementdelay="0.01" data-endelementdelay="0.1" data-endspeed="1000" data-endeasing="Power4.easeIn" style="z-index: 11;">
                <h3 style="text-align: center; min-height: 0px; min-width: 0px; line-height: 94px; border-width: 0px; margin: 0px 0px 20px; padding: 0px; letter-spacing: 2px; font-size: 20px; text-transform: uppercase; font-weight: 700; color: #333;">Upto 70% Discount on Women's Clothing </h3>
              </div>
              <!-- LAYERS 2 -->
              <div class="tp-caption largeHeadingWhite sfl str tp-resizeme start"
               data-x="20" data-y="center" data-voffset="-40" data-speed="1200" data-start="950" data-easing="easeInOutExpo" data-splitin="none" data-splitout="none" data-elementdelay="0.1" data-endelementdelay="0.1" data-endspeed="800" data-endeasing="easeInOutExpo">
                <h1 style="text-align: center; min-height: 0px; min-width: 0px; line-height: 94px; border-width: 0px; margin: 0px 0px 20px; padding: 0px; letter-spacing: 1px; font-size: 50px; font-weight: 800; color: #333;">Grand Summer Sale!</h1>
              </div>
              <!-- LAYERS 3 -->
              <div class="tp-caption detailTextWhiteLarge sfl tp-resizeme start"
                data-x="20"
                data-y="center"
                data-voffset="30"
                data-speed="1200" data-start="1350" data-easing="easeInOutExpo" data-splitin="none" data-splitout="none" data-elementdelay="0.1" data-endelementdelay="0.1" data-endspeed="300"><p style="min-height: 0px; min-width: 0px; line-height: 30px; border-width: 0px; margin: 0px 0px 20px; padding: 0px; letter-spacing: 0px; font-size: 14px; color: #333;">Lorem consectetur adipiscing elit, sed do eiusmod tempor dolor sit amet <br> contetur adipiscing elit, sed do eiusmod tempor incididunt</p>                
              </div>
              <!-- LAYERS 4 -->
              <div class="tp-caption sfb tp-resizeme start" data-x="20" data-hoffset="0" data-y="center" data-voffset="90" data-speed="1200" data-start="1750" data-easing="easeInOutExpo" data-splitin="none" data-splitout="none" data-elementdelay="0.1" data-endelementdelay="0.1" data-endspeed="300"><a href="{% url 'products' %}" class="btn btn-common"><i class="icon-handbag" style="font-size: 14px"></i>Start Shopping</a> 
              </div>         
            </li> 
            <li data-transition="fade" data-slotamount="7" data-masterspeed="2000" data-thumb="{% static 'assets/img/slider/slide2.jpg' %}" data-delay="10000">
              <!-- MAIN IMAGE -->
              <img src="{% static 'assets/img/dummy.png' %}"  alt="laptopmockup_sliderdy" data-lazyload="{% static 'assets/img/slider/slide2.jpg' %}" data-bgposition="right top" data-duration="12000" data-ease="Power0.easeInOut" data-bgfit="115" data-bgfitend="100" data-bgpositionend="center bottom">
              <!-- LAYERS 1-->
              <div class="tp-caption sft skewtotop tp-resizeme title start" data-x="center" data-y="center" data-voffset="-90" data-speed="800" data-start="950" data-easing="Power4.easeOut" data-splitin="none" data-splitout="none" data-elementdelay="0.01" data-endelementdelay="0.1" data-endspeed="1000" data-endeasing="Power4.easeIn" style="z-index: 11;">
                <h3 style="text-align: center; min-height: 0px; min-width: 0px; line-height: 94px; border-width: 0px; margin: 0px 0px 20px; padding: 0px; letter-spacing: 2px; font-size: 20px; text-transform: uppercase; font-weight: 700; color: #fff;">Exclusive Summer Collection for Men</h3>
              </div>
              <!-- LAYERS 2 -->
              <div class="tp-caption largeHeadingWhite sfl str tp-resizeme start"
               data-x="center"
               data-y="center"
               data-voffset="-40"
               data-speed="1200" data-start="950" data-easing="easeInOutExpo" data-splitin="none" data-splitout="none" data-elementdelay="0.1" data-endelementdelay="0.1" data-endspeed="800" data-endeasing="easeInOutExpo">
                <h1 style="text-align: center; min-height: 0px; min-width: 0px; line-height: 94px; border-width: 0px; margin: 0px 0px 20px; padding: 0px; letter-spacing: 1px; font-size: 50px; font-weight: 800; color: #fff;">Best of This Season</h1>
              </div>
              <!-- LAYERS 3 -->
              <div class="tp-caption detailTextWhiteLarge sfl tp-resizeme start"
                data-x="center"
                data-y="center"
                data-voffset="30"
                data-speed="1200" data-start="1350" data-easing="easeInOutExpo" data-splitin="none" data-splitout="none" data-elementdelay="0.1" data-endelementdelay="0.1" data-endspeed="300"><p style="min-height: 0px; min-width: 0px; line-height: 30px; border-width: 0px; margin: 0px 0px 20px; padding: 0px; letter-spacing: 0px; font-size: 14px; color: #fff; text-align: center;">Lorem consectetur adipiscing elit, sed do eiusmod tempor dolor sit amet <br> contetur adipiscing elit, sed do eiusmod tempor incididunt</p>                
              </div>
              <!-- LAYERS 4 -->
              <div class="tp-caption sfb tp-resizeme start" data-x="center" data-hoffset="0" data-y="center" data-voffset="90" data-speed="1200" data-start="1750" data-easing="easeInOutExpo" data-splitin="none" data-splitout="none" data-elementdelay="0.1" data-endelementdelay="0.1" data-endspeed="300">
                <a href="#why" class="btn btn-common"><i class="icon-cursor" style="font-size: 14px"></i>Track</a> 
                <a href="#" class="btn btn-border"><i class="icon-menu" style="font-size: 14px"></i>Explore</a>
              </div>          
            </li>
            <li data-transition="fade" data-slotamount="7" data-masterspeed="2000" data-thumb="{% static 'assets/img/slider/slide3.jpg' %}" data-delay="10000">
              <!-- MAIN IMAGE -->
              <img src="{% static 'assets/img/dummy.png' %}"  alt="laptopmockup_sliderdy" data-lazyload="{% static 'assets/img/slider/slide3.jpg' %}" data-bgposition="right top" data-duration="12000" data-ease="Power0.easeInOut" data-bgfit="115" data-bgfitend="100" data-bgpositionend="center bottom">
              <!-- LAYERS 1-->
              <div class="tp-caption sft skewtotop tp-resizeme title start" data-x="right" data-y="center" data-voffset="-90" data-speed="800" data-start="950" data-easing="Power4.easeOut" data-splitin="none" data-splitout="none" data-elementdelay="0.01" data-endelementdelay="0.1" data-endspeed="1000" data-endeasing="Power4.easeIn" style="z-index: 11;">
                <h3 style="text-align: center; min-height: 0px; min-width: 0px; line-height: 94px; border-width: 0px; margin: 0px 0px 20px; padding: 0px; letter-spacing: 2px; font-size: 20px; text-transform: uppercase; font-weight: 700; color: #333;">Big Brands Products at Best Discounts</h3>
              </div>
              <!-- LAYERS 2 -->
              <div class="tp-caption largeHeadingWhite sfl str tp-resizeme start"
               data-x="right"
               data-y="center"
               data-voffset="-40"
               data-speed="1200" data-start="950" data-easing="easeInOutExpo" data-splitin="none" data-splitout="none" data-elementdelay="0.1" data-endelementdelay="0.1" data-endspeed="800" data-endeasing="easeInOutExpo">
                <h1 style="text-align: center; min-height: 0px; min-width: 0px; line-height: 94px; border-width: 0px; margin: 0px 0px 20px; padding: 0px; letter-spacing: 1px; font-size: 50px; font-weight: 800; color: #333;">Super-Saver Offres</h1>
              </div>
              <!-- LAYERS 3 -->
              <div class="tp-caption detailTextWhiteLarge sfl tp-resizeme start"
                data-x="right"
                data-y="center"
                data-voffset="30"
                data-speed="1200" data-start="1350" data-easing="easeInOutExpo" data-splitin="none" data-splitout="none" data-elementdelay="0.1" data-endelementdelay="0.1" data-endspeed="300"><p style="min-height: 0px; min-width: 0px; line-height: 30px; border-width: 0px; margin: 0px 0px 20px; padding: 0px; letter-spacing: 0px; font-size: 14px; color: #333; text-align: right;">Lorem consectetur adipiscing elit, sed do eiusmod tempor dolor sit amet <br> contetur adipiscing elit, sed do eiusmod tempor incididunt</p>                
              </div>
              <!-- LAYERS 4 -->
              <div class="tp-caption sfb tp-resizeme start" data-x="right" data-hoffset="0" data-y="center" data-voffset="90" data-speed="1200" data-start="1750" data-easing="easeInOutExpo" data-splitin="none" data-splitout="none" data-elementdelay="0.1" data-endelementdelay="0.1" data-endspeed="300"><a class="btn btn-common" href="#"><i class="icon-clock" style="font-size: 14px"></i>View Deals</a>
              </div>           
            </li>
          </ul>
        </div>
      </div>
    </section>

  
    <section class="feature-categories section">
      <div class="container">
        <div class="row">
          <div class="col-md-4 col-sm-4 col-xs-12">
            <div class="feature-item-content">
              <img src="{% static 'assets/img/feature/img1.jpg' %}"  alt="">
              <div class="feature-content">
                <div class="banner-text">
                  <h4>Men's Collection</h4>
                  <p>Summer Exclusive</p>
                </div>                
                <a href="{% url 'products' %}" class="btn btn-common">Shop Now</a>
              </div>
            </div>
          </div>         
          <div class="col-md-4 col-sm-4 col-xs-12">
            <div class="feature-item-content">
              <img src="{% static 'assets/img/feature/img3.jpg' %}"  alt="">
              <div class="feature-content">
                <div class="banner-text">
                  <h4>Women's Clothing</h4>
                  <p>Up to <span>70%</span> OFF</p>
                </div>                 
                <a href="{% url 'products' %}" class="btn btn-common">Shop Now</a>
              </div>
            </div>
          </div>
           <div class="col-md-4 col-sm-4 col-xs-12">
            <div class="feature-item-content mb-30">
              <img src="{% static 'assets/img/feature/img2.jpg' %}"  alt="">
              <div class="feature-content">
                <div class="banner-text accessories">
                  <h4>Accessories</h4>
                  <p>Handpicked for Men/Women</p>
                </div>
                <a href="{% url 'products' %}" class="btn btn-common">Shop Now</a>
              </div>
            </div>
            <div class="feature-item-content">
              <img src="{% static 'assets/img/feature/img4.jpg' %}"  alt="">
              <div class="feature-content">
                <div class="banner-text accessories">
                  <h4>Kids Essentials</h4>
                  <p>Best Collection for Kids</p>
                </div>
                <a href="{% url 'products' %}" class="btn btn-common">Shop Now</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    

    <section id="shop-collection">
      <div class="container">
        <h1 class="section-title">New Arrivals</h1>
        <hr class="lines">
        <div class="row">
          <div class="col-md-3 col-sm-6 col-xs-12">
            <div class="shop-product">
              <div class="product-box">
                <a href="#"><img src="{% static 'assets/img/products/img-01.jpg' %}"  alt=""></a>
                <div class="cart-overlay">
                </div>
                <span class="sticker new"><strong>NEW</strong></span>
                <div class="actions">
                  <div class="add-to-links">                     
                    <a href="#" class="btn-cart"><i class="icon-basket"></i></a>
                    <a href="#" class="btn-wish"><i class="icon-heart"></i></a>
                    <a class="btn-quickview md-trigger" data-modal="modal-3"><i class="icon-eye"></i></a>
                  </div>
                </div>
              </div>
              <div class="product-info">
                <h4 class="product-title"><a href="product-details.html">Qui Ratione Volup</a></h4>  
                <div class="align-items">
                  <div class="pull-left">
                    <span class="price">$49.00</span>
                  </div>
                  <div class="pull-right">
                    <div class="reviews-icon">
                      <i class="i-color fa fa-star"></i>
                      <i class="i-color fa fa-star"></i>
                      <i class="i-color fa fa-star"></i>
                      <i class="fa fa-star-o"></i>
                      <i class="fa fa-star-o"></i>
                    </div>
                  </div>
                </div> 
              </div>
            </div>             
          </div>
          <div class="col-md-3 col-sm-6 col-xs-12">
            <div class="shop-product">
              <div class="product-box">
                <a href="#"><img src="{% static 'assets/img/products/img-02.jpg' %}"  alt=""></a>
                <div class="cart-overlay">
                </div>
                <span class="sticker discount"><strong>-40%</strong></span>
                <div class="actions">
                  <div class="add-to-links">
                    <a href="#" class="btn-cart"><i class="icon-basket"></i></a>
                    <a href="#" class="btn-wish"><i class="icon-heart"></i></a>
                    <a class="btn-quickview md-trigger" data-modal="modal-3"><i class="icon-eye"></i></a>
                  </div>
                </div>             
              </div>
              <div class="product-info">
                <h4 class="product-title"><a href="product-details.html">Eius Modi Tempo</a></h4>  
                <div class="align-items">
                  <div class="pull-left">
                    <span class="price">$59.00</span>
                  </div>
                  <div class="pull-right">
                    <div class="reviews-icon">
                      <i class="i-color fa fa-star"></i>
                      <i class="i-color fa fa-star"></i>
                      <i class="i-color fa fa-star"></i>
                      <i class="i-color fa fa-star"></i>
                      <i class="fa fa-star-o"></i>
                    </div>
                  </div>
                </div> 
              </div>
            </div>            
          </div>
          <div class="col-md-3 col-sm-6 col-xs-12">
            <div class="shop-product">
              <div class="product-box">
                <a href="#"><img src="{% static 'assets/img/products/img-03.jpg' %}"  alt=""></a>
                <div class="cart-overlay">
                </div>
                <div class="actions">
                  <div class="add-to-links">
                    <a href="#" class="btn-cart"><i class="icon-basket"></i></a>
                    <a href="#" class="btn-wish"><i class="icon-heart"></i></a>
                    <a class="btn-quickview md-trigger" data-modal="modal-3"><i class="icon-eye"></i></a>
                  </div>
                </div>             
              </div>
              <div class="product-info">
                <h4 class="product-title"><a href="product-details.html">Quia Voluptas Sit</a></h4>  
                <div class="align-items">
                  <div class="pull-left">
                    <span class="price">$69.00 <del>$79.00</del></span>
                  </div>
                  <div class="pull-right">
                    <div class="reviews-icon">
                      <i class="i-color fa fa-star"></i>
                      <i class="i-color fa fa-star"></i>
                      <i class="i-color fa fa-star"></i>
                      <i class="fa fa-star-o"></i>
                      <i class="fa fa-star-o"></i>
                    </div>
                  </div>
                </div> 
              </div>
            </div>            
          </div>
          <div class="col-md-3 col-sm-6 col-xs-12">
            <div class="shop-product">
              <div class="product-box">
                <a href="#"><img src="{% static 'assets/img/products/img-04.jpg' %}"  alt=""></a>
                <div class="cart-overlay">
                </div>
                <span class="sticker sale"><strong>Sale</strong></span>
                <div class="actions">
                  <div class="add-to-links">
                    <a href="#" class="btn-cart"><i class="icon-basket"></i></a>
                    <a href="#" class="btn-wish"><i class="icon-heart"></i></a>
                    <a  class="btn-quickview md-trigger" data-modal="modal-3"><i class="icon-eye"></i></a>
                  </div>
                </div>             
              </div>
              <div class="product-info">
                <h4 class="product-title"><a href="product-details.html">An Tium Lores Eos</a></h4>  
                <div class="align-items">
                  <div class="pull-left">
                    <span class="price">$39.00</span>
                  </div>
                  <div class="pull-right">
                    <div class="reviews-icon">
                      <i class="i-color fa fa-star"></i>
                      <i class="i-color fa fa-star"></i>
                      <i class="fa fa-star-o"></i>
                      <i class="fa fa-star-o"></i>
                      <i class="fa fa-star-o"></i>
                    </div>
                  </div>
                </div> 
              </div>
            </div>            
          </div>
          <div class="col-md-3 col-sm-6 col-xs-12">
            <div class="shop-product">
              <div class="product-box">
                <a href="#"><img src="{% static 'assets/img/products/img-05.jpg' %}"  alt=""></a>
                <div class="cart-overlay">
                </div>
                <span class="sticker sale"><strong>Sale</strong></span>
                <div class="actions">
                  <div class="add-to-links">
                    <a href="#" class="btn-cart"><i class="icon-basket"></i></a>
                    <a href="#" class="btn-wish"><i class="icon-heart"></i></a>
                    <a  class="btn-quickview md-trigger" data-modal="modal-3"><i class="icon-eye"></i></a>
                  </div>
                </div>             
              </div>
              <div class="product-info">
                <h4 class="product-title"><a href="product-details.html">Magni Dolores Eos</a></h4>  
                <div class="align-items">
                  <div class="pull-left">
                    <span class="price">$69.00</span>
                  </div>
                  <div class="pull-right">
                    <div class="reviews-icon">
                      <i class="i-color fa fa-star"></i>
                      <i class="i-color fa fa-star"></i>
                      <i class="i-color fa fa-star"></i>
                      <i class="fa fa-star-o"></i>
                      <i class="fa fa-star-o"></i>
                    </div>
                  </div>
                </div> 
              </div>
            </div>            
          </div>
          <div class="col-md-3 col-sm-6 col-xs-12">
            <div class="shop-product">
              <div class="product-box">
                <a href="#"><img src="{% static 'assets/img/products/img-06.jpg' %}"  alt=""></a>
                <div class="cart-overlay">
                </div>
                <div class="actions">
                  <div class="add-to-links">
                    <a href="#" class="btn-cart"><i class="icon-basket"></i></a>
                    <a href="#" class="btn-wish"><i class="icon-heart"></i></a>
                    <a  class="btn-quickview md-trigger" data-modal="modal-3"><i class="icon-eye"></i></a>
                  </div>
                </div>             
              </div>
              <div class="product-info">
                <h4 class="product-title"><a href="product-details.html">Natur Aut Odit Aut</a></h4>  
                <div class="align-items">
                  <div class="pull-left">
                    <span class="price">$39.00 <del>$79.00</del></span>
                  </div>
                  <div class="pull-right">
                    <div class="reviews-icon">
                      <i class="i-color fa fa-star"></i>
                      <i class="i-color fa fa-star"></i>
                      <i class="i-color fa fa-star"></i>
                      <i class="i-color fa fa-star"></i>
                      <i class="fa fa-star-o"></i>
                    </div>
                  </div>
                </div> 
              </div>
            </div>             
          </div>
          <div class="col-md-3 col-sm-6 col-xs-12">
            <div class="shop-product">
              <div class="product-box">
                <a href="#"><img src="{% static 'assets/img/products/img-07.jpg' %}"  alt=""></a>
                <div class="cart-overlay">
                </div>
                <span class="sticker new"><strong>NEW</strong></span>
                <div class="actions">
                  <div class="add-to-links">
                    <a href="#" class="btn-cart"><i class="icon-basket"></i></a>
                    <a href="#" class="btn-wish"><i class="icon-heart"></i></a>
                    <a  class="btn-quickview md-trigger" data-modal="modal-3"><i class="icon-eye"></i></a>
                  </div>
                </div>             
              </div>
              <div class="product-info">
                <h4 class="product-title"><a href="product-details.html">Nisi Ut Aliqu</a></h4>  
                <div class="align-items">
                  <div class="pull-left">
                    <span class="price">$56.00</span>
                  </div>
                  <div class="pull-right">
                    <div class="reviews-icon">
                      <i class="i-color fa fa-star"></i>
                      <i class="i-color fa fa-star"></i>
                      <i class="fa fa-star-o"></i>
                      <i class="fa fa-star-o"></i>
                      <i class="fa fa-star-o"></i>
                    </div>
                  </div>
                </div> 
              </div>
            </div>             
          </div>
          <div class="col-md-3 col-sm-6 col-xs-12">
            <div class="shop-product">
              <div class="product-box">
                <a href="#"><img src="{% static 'assets/img/products/img-08.jpg' %}"  alt=""></a>
                <div class="cart-overlay">
                </div>
                <div class="actions">
                  <div class="add-to-links">
                    <a href="#" class="btn-cart"><i class="icon-basket"></i></a>
                    <a href="#" class="btn-wish"><i class="icon-heart"></i></a>
                    <a  class="btn-quickview md-trigger" data-modal="modal-3"><i class="icon-eye"></i></a>
                  </div>
                </div>             
              </div>
              <div class="product-info">
                <h4 class="product-title"><a href="product-details.html">Beatae Vitae Dicta</a></h4>  
                <div class="align-items">
                  <div class="pull-left">
                    <span class="price">$79.00</span>
                  </div>
                  <div class="pull-right">
                    <div class="reviews-icon">
                      <i class="i-color fa fa-star"></i>
                      <i class="i-color fa fa-star"></i>
                      <i class="i-color fa fa-star"></i>
                      <i class="fa fa-star-o"></i>
                      <i class="fa fa-star-o"></i>
                    </div>
                  </div>
                </div> 
              </div>
            </div>             
          </div>
        </div>
      </div>
    </section>
    

    <section class="discount-product-area">
      <div class="container">
        <div class="row">
          <div class="discount-text">
            <p>Best Bargains</p>
            <h3>Exclusive Deals of This Season!</h3>
            <a href="#" class="btn btn-common btn-large">View Deals</a>
          </div>
        </div>
      </div>
    </section>
    

    <section class="section">
      <div class="container">
        <h1 class="section-title">Featured Products</h1>
        <hr class="lines">
        <div class="row">
          <div class="col-md-12">
            <div id="new-products" class="owl-carousel">
              <div class="item">
                <div class="shop-product">
                  <div class="product-box">
                    <a href="#"><img src="{% static 'assets/img/feature-products/img-01.jpg' %}"  alt=""></a>
                    <div class="cart-overlay">
                    </div>
                     <span class="sticker new"><strong>NEW</strong></span>
                    <div class="actions">
                      <div class="add-to-links">
                        <a href="#" class="btn-cart"><i class="icon-basket"></i></a>
                        <a href="#" class="btn-wish"><i class="icon-heart"></i></a>
                        <a  class="btn-quickview md-trigger" data-modal="modal-3"><i class="icon-eye"></i></a>
                      </div>
                    </div>             
                  </div>
                  <div class="product-info">
                    <h4 class="product-title"><a href="product-details.html">Nisi Ut Aliqu</a></h4>  
                    <div class="align-items">
                      <div class="pull-left">
                        <span class="price">$49.00</span>
                      </div>
                      <div class="pull-right">
                        <div class="reviews-icon">
                          <i class="i-color fa fa-star"></i>
                          <i class="i-color fa fa-star"></i>
                          <i class="i-color fa fa-star"></i>
                          <i class="fa fa-star-o"></i>
                          <i class="fa fa-star-o"></i>
                        </div>
                      </div>
                    </div> 
                  </div>
                </div> 
              </div>
              <div class="item">
                <div class="shop-product">
                  <div class="product-box">
                    <a href="#"><img src="{% static 'assets/img/feature-products/img-02.jpg' %}"  alt=""></a>
                    <div class="cart-overlay">
                    </div>                   
                    <div class="actions">
                      <div class="add-to-links">
                        <a href="#" class="btn-cart"><i class="icon-basket"></i></a>
                        <a href="#" class="btn-wish"><i class="icon-heart"></i></a>
                        <a  class="btn-quickview md-trigger" data-modal="modal-3"><i class="icon-eye"></i></a>
                      </div>
                    </div>             
                  </div>
                  <div class="product-info">
                    <h4 class="product-title"><a href="product-details.html">Eius Modi Tempo</a></h4>  
                    <div class="align-items">
                      <div class="pull-left">
                        <span class="price">$59.00 <del>$79.00</del></span>
                      </div>
                      <div class="pull-right">
                        <div class="reviews-icon">
                          <i class="i-color fa fa-star"></i>
                          <i class="i-color fa fa-star"></i>
                          <i class="i-color fa fa-star"></i>
                          <i class="i-color fa fa-star"></i>
                          <i class="fa fa-star-o"></i>
                        </div>
                      </div>
                    </div> 
                  </div>
                </div> 
              </div>
              <div class="item">
                <div class="shop-product">
                  <div class="product-box">
                    <a href="#"><img src="{% static 'assets/img/feature-products/img-03.jpg' %}"  alt=""></a>
                    <div class="cart-overlay">
                    </div>                    
                    <span class="sticker sale"><strong>Sale</strong></span>
                    <div class="actions">
                  <div class="add-to-links">
                    <a href="#" class="btn-cart"><i class="icon-basket"></i></a>
                    <a href="#" class="btn-wish"><i class="icon-heart"></i></a>
                    <a  class="btn-quickview md-trigger" data-modal="modal-3"><i class="icon-eye"></i></a>
                  </div>
                </div>             
                  </div>
                  <div class="product-info">
                    <h4 class="product-title"><a href="product-details.html">Quia Voluptas Sit</a></h4>  
                    <div class="align-items">
                      <div class="pull-left">
                        <span class="price">$68.00</span>
                      </div>
                      <div class="pull-right">
                        <div class="reviews-icon">
                          <i class="i-color fa fa-star"></i>
                          <i class="i-color fa fa-star"></i>
                          <i class="i-color fa fa-star"></i>
                          <i class="fa fa-star-o"></i>
                          <i class="fa fa-star-o"></i>
                        </div>
                      </div>
                    </div> 
                  </div>
                </div> 
              </div>
              <div class="item">
                <div class="shop-product">
                  <div class="product-box">
                    <a href="#"><img src="{% static 'assets/img/feature-products/img-04.jpg' %}"  alt=""></a>
                    <div class="cart-overlay">
                    </div>
                    <div class="actions">
                      <div class="add-to-links">
                        <a href="#" class="btn-cart"><i class="icon-basket"></i></a>
                        <a href="#" class="btn-wish"><i class="icon-heart"></i></a>
                        <a  class="btn-quickview md-trigger" data-modal="modal-3"><i class="icon-eye"></i></a>
                      </div>
                    </div>             
                  </div>
                  <div class="product-info">
                    <h4 class="product-title"><a href="product-details.html">An Tium Lores Eos</a></h4>  
                    <div class="align-items">
                      <div class="pull-left">
                        <span class="price">$59.00 <del>$69.00</del></span>
                      </div>
                      <div class="pull-right">
                        <div class="reviews-icon">
                          <i class="i-color fa fa-star"></i>
                          <i class="i-color fa fa-star"></i>
                          <i class="fa fa-star-o"></i>
                          <i class="fa fa-star-o"></i>
                          <i class="fa fa-star-o"></i>
                        </div>
                      </div>
                    </div> 
                  </div>
                </div> 
              </div>
              <div class="item">
                <div class="shop-product">
                  <div class="product-box">
                    <a href="#"><img src="{% static 'assets/img/feature-products/img-05.jpg' %}"  alt=""></a>
                    <div class="cart-overlay">
                    </div>
                    <span class="sticker discount"><strong>-40%</strong></span>
                    <div class="actions">
                      <div class="add-to-links">
                        <a href="#" class="btn-cart"><i class="icon-basket"></i></a>
                        <a href="#" class="btn-wish"><i class="icon-heart"></i></a>
                        <a  class="btn-quickview md-trigger" data-modal="modal-3"><i class="icon-eye"></i></a>
                      </div>
                    </div>             
                  </div>
                  <div class="product-info">
                    <h4 class="product-title"><a href="product-details.html">Magni Dolores Eos</a></h4>  
                    <div class="align-items">
                      <div class="pull-left">
                        <span class="price">$79.00</span>
                      </div>
                      <div class="pull-right">
                        <div class="reviews-icon">
                          <i class="i-color fa fa-star"></i>
                          <i class="i-color fa fa-star"></i>
                          <i class="i-color fa fa-star"></i>
                          <i class="fa fa-star-o"></i>
                          <i class="fa fa-star-o"></i>
                        </div>
                      </div>
                    </div> 
                  </div>
                </div> 
              </div>
              <div class="item">
                <div class="shop-product">
                  <div class="product-box">
                    <a href="#"><img src="{% static 'assets/img/feature-products/img-06.jpg' %}"  alt=""></a>
                    <div class="cart-overlay">
                    </div>
                    <div class="actions">
                      <div class="add-to-links">
                        <a href="#" class="btn-cart"><i class="icon-basket"></i></a>
                        <a href="#" class="btn-wish"><i class="icon-heart"></i></a>
                        <a  class="btn-quickview md-trigger" data-modal="modal-3"><i class="icon-eye"></i></a>
                      </div>
                    </div>             
                  </div>
                  <div class="product-info">
                    <h4 class="product-title"><a href="product-details.html">Natur Aut Odit Aut</a></h4>  
                    <div class="align-items">
                      <div class="pull-left">
                        <span class="price">$69.00</span>
                      </div>
                      <div class="pull-right">
                        <div class="reviews-icon">
                          <i class="i-color fa fa-star"></i>
                          <i class="i-color fa fa-star"></i>
                          <i class="i-color fa fa-star"></i>
                          <i class="i-color fa fa-star"></i>
                          <i class="fa fa-star-o"></i>
                        </div>
                      </div>
                    </div> 
                  </div>
                </div>  
              </div>
              <div class="item">
                <div class="shop-product">
                  <div class="product-box">
                    <a href="#"><img src="{% static 'assets/img/feature-products/img-07.jpg' %}"  alt=""></a>
                    <div class="cart-overlay">
                    </div>
                    <span class="sticker sale"><strong>Sale</strong></span>
                    <div class="actions">
                      <div class="add-to-links">
                        <a href="#" class="btn-cart"><i class="icon-basket"></i></a>
                        <a href="#" class="btn-wish"><i class="icon-heart"></i></a>
                        <a  class="btn-quickview md-trigger" data-modal="modal-3"><i class="icon-eye"></i></a>
                      </div>
                    </div>             
                  </div>
                  <div class="product-info">
                    <h4 class="product-title"><a href="product-details.html">Qui Ratione Volup</a></h4>  
                    <div class="align-items">
                      <div class="pull-left">
                        <span class="price">$56.00</span>
                      </div>
                      <div class="pull-right">
                        <div class="reviews-icon">
                          <i class="i-color fa fa-star"></i>
                          <i class="i-color fa fa-star"></i>
                          <i class="i-color fa fa-star"></i>
                          <i class="fa fa-star-o"></i>
                          <i class="fa fa-star-o"></i>
                        </div>
                      </div>
                    </div> 
                  </div>
                </div>
              </div>
            </div>
          </div>                              
        </div>
      </div>
    </section>
    

    <section id="content-area">
      <div class="container">
        <div class="hero-land clearfix">
          <div class="landing caption">
            <h2>Multi-vendor eCommerce Template</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perspiciatis rem, ducimus reprehenderit sed molestiae iure sapiente accusamus incidunt minima expedita velit assumenda vitae libero. Eaque nostrum magni architecto, corporis doloremque!</p>
            <p>
              <a href="category.html" class="btn btn-common">Explore</a>
            </p>
          </div>
        </div>
      </div>
    </section>
    

    <section id="services" class="section">
      <!-- Container Starts -->
      <div class="container">
        <div class="row">          
          <!-- Start Service-->
          <div class="col-md-4 col-sm-6">
            <div class="services-box">
              <div class="services-icon">
                <i class="icon-people"></i>
              </div>
              <div class="services-content">
                <h4><a href="#">Multi-vendor eCommerce</a></h4>
                <p>
                  Lorem ipsum dolor sit amet isse potenti. Vesquam ante aliquet lacusemper elit.
                </p>
              </div>
            </div>
          </div>
          <!-- End Service-->
          <!-- Start Service-->
          <div class="col-md-4 col-sm-6">
            <div class="services-box">
              <div class="services-icon">
                <i class="icon-screen-desktop"></i>
              </div>
              <div class="services-content">
                <h4><a href="#">Clean Design</a></h4>
                <p>
                  Lorem ipsum dolor sit amet isse potenti. Vesquam ante aliquet lacusemper elit.
                </p>
              </div>
            </div>
          </div>
          <!-- End Service-->
          <!-- Start Service-->
          <div class="col-md-4 col-sm-6">
            <div class="services-box">
              <div class="services-icon">
                <i class="icon-basket-loaded"></i>
              </div>
              <div class="services-content">
                <h4><a href="#">100+ eCommerce Elements</a></h4>
                <p>
                  Lorem ipsum dolor sit amet isse potenti. Vesquam ante aliquet lacusemper elit.
                </p>
              </div>
            </div>
          </div>
          <!-- End Service-->
          <!-- Start Service-->
          <div class="col-md-4 col-sm-6">
            <div class="services-box">
              <div class="services-icon">
                <i class="icon-layers"></i>
              </div>
              <div class="services-content">
                <h4><a href="#">Included Business Pages</a></h4>
                <p>
                  Lorem ipsum dolor sit amet isse potenti. Vesquam ante aliquet lacusemper elit.
                </p>
              </div>
            </div>
          </div>
          <!-- End Service-->
          <!-- Start Service-->
          <div class="col-md-4 col-sm-6">
            <div class="services-box">
              <div class="services-icon">
                <i class="icon-screen-tablet"></i>
              </div>
              <div class="services-content">
                <h4><a href="#">Fully Responsive</a></h4>
                <p>
                  Lorem ipsum dolor sit amet isse potenti. Vesquam ante aliquet lacusemper elit.
                </p>
              </div>
            </div>
          </div>
          <!-- End Service-->
          <!-- Start Service -->
          <div class="col-md-4 col-sm-6">
            <div class="services-box">
              <div class="services-icon">
                <i class="icon-chemistry"></i>
              </div>
              <div class="services-content">
                <h4><a href="#">Cutting-edge Features</a></h4>
                <p>
                  Lorem ipsum dolor sit amet isse potenti. Vesquam ante aliquet lacusemper elit.
                </p>
              </div>
            </div>
          </div>
          <!-- End Service-->
          <!-- Start Service-->
          <div class="col-md-4 col-sm-6">
            <div class="services-box">
              <div class="services-icon">
                <i class="icon-settings"></i>
              </div>
              <div class="services-content">
                <h4><a href="#">Completely Customizable</a></h4>
                <p>
                  Lorem ipsum dolor sit amet isse potenti. Vesquam ante aliquet lacusemper elit.
                </p>
              </div>
            </div>
          </div>
          <!-- End Service-->
          <!-- Start Service-->
          <div class="col-md-4 col-sm-6">
            <div class="services-box">
              <div class="services-icon">
                <i class="icon-rocket"></i>
              </div>
              <div class="services-content">
                <h4><a href="#">Fast and Well-optimized</a></h4>
                <p>
                  Lorem ipsum dolor sit amet isse potenti. Vesquam ante aliquet lacusemper elit.
                </p>
              </div>
            </div>
          </div>
          <!-- End Service-->
          <!-- Start Service -->
          <div class="col-md-4 col-sm-6">
            <div class="services-box">
              <div class="services-icon">
                <i class="icon-umbrella"></i>
              </div>
              <div class="services-content">
                <h4><a href="#">Rich Doc and Support</a></h4>
                <p>
                  Lorem ipsum dolor sit amet isse potenti. Vesquam ante aliquet lacusemper elit.
                </p>
              </div>
            </div>
          </div>
          <!-- End Service-->
        </div>
      </div>
      <!-- Container Ends -->
    </section>
    
    
    <div class="testimonial section">
      <div class="container">
        <div class="row">
          <!-- Testimonial section  -->
          <div class="testimonials-carousel owl-carousel">
            <div class="item">
              <div class="testimonial-item">
                <div class="img">
                  <a href="#"><img src="{% static 'assets/img/testimonial/img1.jpg' %}"  alt=""></a>
                </div>
                <div class="datils">                
                  <p>“ Lorem ipsum dolor sit amet, consectetur adipisicing elit. Saepe porro neque a nam nulla quos atque reprehenderit eius corrupti amet! <br> hic et quidem. Dignissimos ad maxime velit unde inventore quasi vero dolorem. “</p>
                  <h5>Jared Erondu</h5> 
                  <span>- CEO & art director</span>
                </div>
              </div>
            </div>                
            <div class="item">
              <div class="testimonial-item">
                <div class="img">
                  <a href="#"><img src="{% static 'assets/img/testimonial/img2.jpg' %}"  alt=""></a>
                </div>
                <div class="datils">                
                  <p>“ Lorem ipsum dolor sit amet, consectetur adipisicing elit. Saepe porro neque a nam nulla quos atque reprehenderit eius corrupti amet! <br> hic et quidem. Dignissimos ad maxime velit unde inventore quasi vero dolorem. “</p>
                  <h5>Cadic Vegeta</h5> 
                  <span>- Graphic Design</span>
                </div>
              </div>
            </div>
            <div class="item">
              <div class="testimonial-item">
                <div class="img">
                  <a href="#"><img src="{% static 'assets/img/testimonial/img3.jpg' %}"  alt=""></a>
                </div>
                <div class="datils">                
                  <p>“ Lorem ipsum dolor sit amet, consectetur adipisicing elit. Saepe porro neque a nam nulla quos atque reprehenderit eius corrupti amet! <br> hic et quidem. Dignissimos ad maxime velit unde inventore quasi vero dolorem. “</p>
                  <h5>Jonathan Beri</h5> 
                  <span>- Web Developer</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    

    <section class="latest-blog section"> 
      <div class="container">
        <h1 class="section-title">Latest Blog</h1>
        <hr class="lines">
        <div class="row">
          <div class="col-md-4 col-sm-6 col-xs-12">
            <div class="blog-item">
              <div class="blog-img">
                <a href="blog-details.html">
                  <img src="{% static 'assets/img/blog/img1.jpg' %}"  alt="">
                </a>
                <div class="mask">
                </div>
              </div>
              <div class="blog-info">
                <div class="post-date">16 April</div>
                <h3><a href="blog-details.html">Where Trends Going Next</a></h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. In atque, qui cum voluptatem quibusdam dolore veniam....</p>
                <a href="blog-details.html" class="readmore">Read More</a>
              </div>
            </div>
          </div>
          <div class="col-md-4 col-sm-6 col-xs-12">
            <div class="blog-item">
              <div class="blog-img">
                <a href="blog-details.html">
                  <img src="{% static 'assets/img/blog/img2.jpg' %}"  alt="">
                </a>
                <div class="mask">
                </div>
              </div>
              <div class="blog-info">
                <div class="post-date">16 April</div>
                <h3><a href="blog-details.html">Ellie Goulding – High For This</a></h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. In atque, qui cum voluptatem quibusdam dolore veniam....</p>
                <a href="blog-details.html" class="readmore">Read More</a>
              </div>
            </div>
          </div>
          <div class="col-md-4 col-sm-6 col-xs-12">
            <div class="blog-item">
              <div class="blog-img">
                <a href="blog-details.html">
                  <img src="{% static 'assets/img/blog/img3.jpg' %}"  alt="">
                </a>
                <div class="mask">
                </div>
              </div>
              <div class="blog-info">
                <div class="post-date">16 April</div>
                <h3><a href="blog-details.html">Best Photography of 2017</a></h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. In atque, qui cum voluptatem quibusdam dolore veniam....</p>
                <a href="blog-details.html" class="readmore">Read More</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    

    <div class="client section">
      <div class="container">
        <div class="row">
          <div id="client-logo" class="owl-carousel">
            <div class="client-logo item">
              <a href="#">
                <img src="{% static 'assets/img/clients/logo-01.png' %}" alt="" />
              </a>
            </div>
            <div class="client-logo item">
              <a href="#">
                <img src="{% static 'assets/img/clients/logo-02.png' %}" alt="" />
              </a>
            </div>
            <div class="client-logo item">
              <a href="#">
                <img src="{% static 'assets/img/clients/logo-03.png' %}" alt="" />
              </a>
            </div>
            <div class="client-logo item">
              <a href="#">
                <img src="{% static 'assets/img/clients/logo-04.png' %}" alt="" />
              </a>
            </div>
            <div class="client-logo item">
              <a href="#">
                <img src="{% static 'assets/img/clients/logo-05.png' %}" alt="" />
              </a>
            </div>
            <div class="client-logo item">
              <a href="#">
                <img src="{% static 'assets/img/clients/logo-06.png' %}" alt="" />
              </a>
            </div>
            <div class="client-logo item">
              <a href="#">
                <img src="{% static 'assets/img/clients/logo-07.png' %}" alt="" />
              </a>
            </div>
            <div class="client-logo item">
              <a href="#">
                <img src="{% static 'assets/img/clients/logo-08.png' %}" alt="" />
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
    

    <div class="support section">
      <div class="container">
        <div class="row">
         <div class="support-inner">
          <div class="col-md-4 col-sm-4 col-xs-12">
            <div class="row-normal clearfix">
              <div class="support-info">
                <div class="info-title">
                  <i class="icon-plane"></i>
                  Free Shipping Worldwide
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-4 col-sm-4 col-xs-12">
            <div class="row-normal clearfix">
              <div class="support-info">
                <div class="info-title">
                  <i class="icon-earphones-alt"></i>
                  24/7 Customer Service
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-4 col-sm-4 col-xs-12">
            <div class="row-normal clearfix">
              <div class="support-info">
                <div class="info-title">
                  <i class="icon-refresh"></i>
                  Easy Return Policy
                </div>
              </div>
            </div>
          </div>
         </div>
        </div>
      </div>
    </div>
    
    
    
{% endblock main %}