{% extends "base.html" %}
{% load static %}


{% block title %} Create account - eMart Online Shopping {% endblock title %}

{% block main %}
    

    <div class="page-header">
      <div class="container">
        <div class="row">
          <div class="col-md-12">            
            <div class="breadcrumb">
              <a href="{% url 'home' %}"><i class="icon-home"></i> Home</a>
              <span class="crumbs-spacer"><i class="fa fa-angle-double-right"></i></span>
              <span class="current">Create Account</span>
              <h2 class="entry-title">Signup page</h2>
            </div>
          </div>
        </div>
      </div>
    </div>
    

    <div id="content">
      <div class="container">
        <div class="row">
          <div class="col-md-12 col-lg-6 col-lg-offset-3">
            <div class="login">
              <div class="login-form-container">
                <div class="login-text">
                  <h3>Create Account</h3>
                  <p>Please Register using account details bellow.</p>
                </div>
                <!-- Login Form Start -->
                <form  class="login-form" role="form" method="post">
                  <div class="form-group">
                    <div class="controls">
                      <input type="text" class="form-control" placeholder="First Name" name="first_name">
                    </div>
                  </div>
                  <div class="form-group">
                    <div class="controls">
                      <input type="text" class="form-control" placeholder="Last Name" name="last_name">
                    </div>
                  </div>
                  <div class="form-group">
                    <div class="controls">
                      <input type="email" class="form-control" placeholder="Enter Email" name="email">
                    </div>
                  </div>
                  <div class="form-group">
                    <div class="controls">
                      <input type="password" class="form-control" placeholder="Password" name="password">
                    </div>
                  </div>
                  <div class="form-group">
                    <div class="controls">
                      <input type="password" class="form-control" placeholder="Confirm Password" name="password2">
                    </div>
                  </div>
                  <div class="button-box">
                    <button type="submit" class="btn btn-common log-btn">Create account</button>
                  </div>
                  <div style="display: flex; justify-content: center; margin-top: 20px;">
                    <p>Already have an account ? <a href="{% url 'login' %}">Login</a></p>
                  </div>
                </form>                
                <!-- Login Form End -->
              </div>              
            </div>            
          </div>
        </div>
      </div>
    </div>
    

  {% endblock main %}